.render-image {
	&__wrapper {
		width: #{ms(7) + ms(5)};

		&__content {
			width: ms(7);
			position: relative;

			&__loading {
				position: absolute;
				z-index: 1;
				background: rgba(255, 255, 255, 0.4);
				width: 100%;
				height: 100%;
			}

			&__preview {
				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
